@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 600;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0D0FF;
}

.wrapper1 {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #E8BAFF;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* header */

.header {
    display: flex;
    height: auto;
    width: 100vw;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
}

/* header-info */

.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: none;
}

.header-logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    border: 3px solid #E8BAFF;
    display: none;
}

.header-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    display: none;
} 

.header-logo {
    width: 50px;
    height: 50px;
    display: none;
}

/* header-image */

.header-image-wrapper {
    width: 100vw;
    height: auto;
    border-bottom: 3px solid #ffffff;
    display: none;
}

.header-image {
    width: 100vw;
    height: 100%;
    background-size: contain;
    display: none;
}

/* header-navbar */

.navbar {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.navbar-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.navbar-link {
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #6B1A94;
    text-align: center;
}

.navbar-link:hover {
    font-weight: 900;
    color: #fff;
    border: none;
}

.navbar-link:active {
    color: #fff;
    border: none;
}

.current {
    font-weight: 900;
    color: #fff;
    border: none;
}

/* main */

main {
    background-color:#ffffff;
}

.aboutus-heading {
    color: #6B1A94;
    text-align: center;
    margin: 16px;
}

.aboutus-container {
    display: flex;
    flex-direction: column-reverse;
}

.aboutus-text {
    margin: 12px 36px;
}

.aboutus-text > p {
    margin: 12px;
    font-weight: 600;
}

.aboutus-text > h3 {
    margin: 0 12px;
}

.aboutus-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-photo > img {
    width: 80%;
    margin: 22px;
}

.ourteam-heading {
    text-align: center;
    color: #6B1A94;
    margin-bottom: 10px;
}

.ourteam-container {
    display: grid;
    grid-template-areas: 
        "1fr" 
        "1fr"
        "1fr"  
        "1fr";
}

.ourteam-item {
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: center;
    align-items: center;
}

.ourteam-item-name {
    margin-bottom: 12px;
    font-size: 18px;
}

.ourteam-item-photo {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #D684FF;
    margin-bottom: 16px;
}

.ourteam-item-info {
    font-weight: 500;
    text-align: center;
}

/* Как мы работаем */

.howwork-heading {
    text-align: center;
    color: #6B1A94;
    margin-bottom: 20px;
    margin-top: 32px;
}

.howwork-item-container {
    display: grid;
    grid-template-areas:
            "1fr" 
            "1fr"
            "1fr" 
            "1fr"
            "1fr"
            "1fr";
    margin: 0 15px;
}

.howwork-item {
    margin: 10px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.howwork-item-heading {
    color: #6B1A94;
}

.howwork-item:nth-child(1) {
    background-color: #F0D0FF;
}

.howwork-item:nth-child(2) {
    border: 2px solid #F0D0FF;
    
}

.howwork-item:nth-child(3) {
    border: 2px solid #F0D0FF;
    background-color: #F0D0FF;
}

.howwork-item:nth-child(4) {
    background-color: #ffffff;
    border: 2px solid #F0D0FF;
}

.howwork-item:nth-child(5) {
    background-color: #F0D0FF;
}

.howwork-item:nth-child(6) {
    border: 2px solid #F0D0FF;
    
}

.howwork-item:nth-child(7) {
    border: 2px solid #F0D0FF;
    background-color: #F0D0FF;
}

.howwork-item-picture {
    width: 40px;
    height: 40px;
    margin: 0 20px 10px 0;
}

.howwork-item:nth-child(2) > img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.howwork-item-text {
    display: flex;
    flex-direction: column;
}

.howwork-item-text > p {
    font-size: 10px;
}

.comfortablework {
    margin: 20px 15px 20px 30px;
}

.comfortablework-heading {
    text-align: center;
    color: #6B1A94;
}

.comfortablework-text-item {
    list-style-image: url('/images/checkmark-icon.svg');
}

.comfortablework-text > li {
    margin: 20px 0;
    font-size: 12px;
}

.comfortablework-text-item > li {
    margin: 20px 0;
    font-size: 12px;
}

/* Контакты */

.contacts {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.contacts-links {
    display: flex;
    margin-bottom: 20px;
}

.contacts-links > a {
    text-decoration: none;
    color: #000000;
    display: flex;
}

.contacts-links > a:hover {
    color: #6B1A94;
}

.contacts-links > a > img {
   margin-right: 7px;
}

.contacts-links > a > span {
    display: block;
 }

 /* Наши партнеры */

.partners-heading {
    text-align: center;
    color: #6B1A94;
    margin-top: 32px;
}

.partners-text {
    text-align: center;
    color: #6B1A94;
    margin: 10px;
}

.partners-logos {
    margin: 20px;
}

.partners-logos > img {
    width: 100%;
}

.feedback-item {
    margin: 20px;
    border: 2px solid #F0D0FF;
    border-radius: 10px;
    padding: 20px;
}

.feedback-item-name {
    font-size: 14px;
    margin-bottom: 5px;
}

.feedback-item-date {
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
}


.feedback-item-comment {
    text-align: justify;
    font-weight: 200;
    font-size: 10px;
}

/* fixed-button */

.fixed-button-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 20px;
}

.fixed-button-text {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.fixed-button {
    width: 180px;
    height: 45px;
    background: #D684FF;
    border: 1px solid #6B1A94;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6B1A94;
    cursor: pointer;
}

.fixed-button:hover {
    font-weight: 500;
    box-shadow: 2px 2px 10px 3px #dea6fa;
    border: 1px solid #D684FF;
}

.fixed-button:active {
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* footer */

.footer {
    width: 100vw;
    height: 200px;
}

.footer-wrapper {
    width: 100vw;
    height: 200px;
    display: flex;
    background-color: #F0D0FF;
    justify-content: space-between;
}

.footer-nav-wrapper {
    margin: 30px;
    margin-top: 20px;
    display: none;
}

.footer-nav-heading {
    color: #6B1A94;
    margin-bottom: 5px;
}

.footer-nav-list {
    list-style-type: none;
}

.footer-nav-list-item {
    margin-bottom: 5px;
}

.footer-nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: 200;
}

.footer-nav-link:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: 200;
}

.footer-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.footer-info-wrapper {
    margin: auto;
    margin-top: 25px;
}

.footer-info-phone {
    margin-bottom: 10px;
}

.footer-info-phone > a {
    text-decoration: none;
    color: #6B1A94;
    font-weight: 400;
}

.footer-info-phone > a:hover {
    text-decoration: underline;
    color: #6B1A94;
    margin-bottom: 15px;
}

.footer-info-links {
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer-info-link {
    text-decoration: none;
}

.footer-requisites-button {
    border: none;
    background-color: #F0D0FF;
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    margin-bottom: 10px;
}

.footer-requisites-button:hover {
    text-decoration: underline;
}

.footer-confidential-button {
    border: none;
    background-color: #F0D0FF;
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.footer-confidential-button:hover {
    text-decoration: underline;
}

/* Реквизиты */

.requisites-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.requisites-popup.active {
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
    overflow: hidden;
}

.requisites-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 80%;
    padding: 25px;
    transition: 0.5s all;
    font-size: smaller;
}

.requisites-popup-content.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

/* Политика конфиденциальности */

.confidential {
    display: flex;
    flex-direction: column;
    margin: 22px 15px;
}

.confidential-heading {
    color:#6B1A94;
    text-align: center;
    font-size: 16px;
}

.confidential-content > ul {
    list-style: none;
    text-align: center;
    font-size: 10px;
}

.confidential-content > ul > li {
    margin-bottom: 10px;
}

.confidential-content > ul > p {
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 200;
}

/* Подобрать тур*/

.tourselection-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.tourselection-popup.active {
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.tourselection-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: #ffffff;
    border: 1px solid #D684FF;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s all;
}

.tourselection-popup-content.active {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
} 

.tourselection-heading {
    text-align: center;
    color: #6B1A94;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}

.tourselection-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding: 5px;
}

.tourselection-form > div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}


.tourselection-form > div > input {
    padding: 10px;
    border: 0;
    border-bottom: 0.5px solid #686868;
    outline: none;
    font-size: 12px;
}

.tourselection-form > div > input:focus {
    border-bottom: 0.5px solid #D684FF;
}

.tourselection-form > button {
    width: 80%;
    margin: 40px auto 0;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #D684FF;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 1px;
}

.tourselection-form > button:hover {
    border: 1px solid #D684FF;
    background-color: #ffffff;
    color: #D684FF;
}

.tourselection-addition {
    padding-left: 10px;
    color: #000000;
    font-size: smaller;
}


.hidden {
    opacity: 0;
}

.form-success-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.form-success-popup.active {
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.form-success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: #ffffff;
    border: 1px solid #D684FF;
    border-radius: 10px;
    padding: 25px;
    transition: 0.5s all;
    opacity: 1;
    text-align: center;
}

.form-success.active {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}