@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0D0FF;
}

.wrapper1 {
    display: flex;
    width: 1100px;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
    background-color: #E8BAFF;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    /*height: 100vh;*/
}

/* header */

.header {
    display: flex;
    height: 310px;
    width: 1100px;
    /* max-width: 100%; */
}

.header-wrapper {
    display: flex;
    width: 1100px;
    flex-direction: column;
    /*align-items: center;
    justify-content: flex-start;*/
}

/* header-info */

.header-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
}

.header-logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 35px;
    border: 3px solid #E8BAFF;
}

.header-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
} 

.header-logo {
    width: 140px;
    height: 140px;
}

/*

.header-button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 25px;
    top: 20px;
}

.header-button {
    width: 200px;
    height: 45px;
    background: #D684FF;
    border: 1px solid #6B1A94;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6B1A94;
    cursor: pointer;
}

.header-button:hover {
    border: 2px solid #6B1A94;
    font-weight: 800;
}

.header-button:active {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.header-link-phone {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    margin: 10px;
}

.header-link-phone:hover {
    color: #E8BAFF;
}

*/

/* header-image */

.header-image-wrapper {
    width: 1050px;
    height: 100%;
    border-bottom: 3px solid #ffffff;
}

.header-image {
    /*background-image: url("../image/header-logo.png");
    background-repeat: no-repeat;*/
    width: 1050px;
    height: 266px;
    background-size: contain;
}

/* header-navbar */

.navbar {
    display: flex;
    width: 1050px;
    height: 50px;
    background: linear-gradient(180deg, rgba(240, 208, 255, 0) -36.01%, #F0D0FF 72.58%);
    justify-content: flex-start;
    align-items: center;
}


.navbar-link-container {
    display: flex;
    margin-left: 20px;
}

.navbar-link {
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat';
    /*font-weight: bold;*/
    color: #6B1A94;
}

.navbar-link:hover {
    font-weight: 900;
    border-bottom: 2px solid #6B1A94;
}

.navbar-link:active {
    border-bottom: 2px solid #6B1A94;
}

.current {
    font-weight: 900;
    border-bottom: 2px solid #6B1A94;
}

/* main */

main {
    background-color:#ffffff;
}

.aboutus-heading {
    color: #6B1A94;
    text-align: center;
    margin: 32px 0;
}

.aboutus-container {
    display: flex;
}

.aboutus-text {
    margin: 0 0 32px 32px;
}

.aboutus-text > p {
    margin: 24px 0;
}

.aboutus-text > p:first-child {
    font-weight: 600;
}

.aboutus-photo > img {
    width: 280px;
    margin: 32px;
}

/*.ourteam {
    display: flex;
}*/

.ourteam-heading {
    text-align: center;
    color: #6B1A94;
}

.ourteam-container {
    display: grid;
    grid-template-areas: 
        "1fr  1fr"
        "1fr  1fr";
}

.ourteam-item {
    display: flex;
    flex-direction: column;
    margin: 32px;
    justify-content: center;
    align-items: center;
}

.ourteam-item-name {
    font-weight: 600;
    margin-bottom: 12px;
}

.ourteam-item-photo {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #D684FF;
    margin-bottom: 16px;
}

.howwork-heading {
    text-align: center;
    color: #6B1A94;
    margin-bottom: 20px;
}

.howwork-item-container {
    display: grid;
    grid-template-areas:
            "1fr 1fr"
            "1fr 1fr"
            "1fr 1fr";
    margin: 0 60px;
}

.howwork-item {
    margin: 10px 40px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}

.howwork-item:nth-child(1) {
    background-color: #F0D0FF;
}

.howwork-item:nth-child(2) {
    border: 2px solid #F0D0FF;
}

.howwork-item:nth-child(3) {
    border: 2px solid #F0D0FF;
}

.howwork-item:nth-child(4) {
    background-color: #F0D0FF;
}

.howwork-item:nth-child(5) {
    background-color: #F0D0FF;
}

.howwork-item:nth-child(6) {
    border: 2px solid #F0D0FF;
}

.howwork-item:nth-child(7) {
    border: 2px solid #F0D0FF;
}

/* fixed-button */

.fixed-button-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    width: 1050px;
}

.fixed-button-text {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.fixed-button {
    width: 200px;
    height: 45px;
    background: #D684FF;
    border: 1px solid #6B1A94;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6B1A94;
    cursor: pointer;
}

.fixed-button:hover {
    font-weight: 500;
    box-shadow: 2px 2px 10px 3px #dea6fa;
    border: 1px solid #D684FF;
}

.fixed-button:active {
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* footer */

.footer {
    width: 1050px;
    height: 200px;
}

.footer-wrapper {
    width: 1050px;
    height: 200px;
    display: flex;
    background-color: #F0D0FF;

}